/* === VARIABLES ===
---------------------------------------------------- */
$max_width: 1350px;

$primary_font: 'Roboto', sans-serif;
$secondary_font: 'Gochi Hand', sans-serif;

$black: #4b4b4b;
$blue: #83b6d2e5;
$white: #fff;
$yellow_light: #f6d524;
$yellow_dark: #e1c323;
$red: #e56041;

/* === TYPOGRAPHY ===
---------------------------------------------------- */
@mixin primary_font($font-weight: 400, $line-height: 24px, $font-size: 18px) {
  font-family: $primary_font;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin secondary_font($font-size: 78px) {
  font-family: $secondary_font;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: 90px;
  color: $white;
}

/* === MEDIA QUERIES ===
---------------------------------------------------- */
@mixin tiny_screens() {
  @media only screen and (max-width: 359px) {
    @content;
  }
}
@mixin min_tiny_screens() {
  @media only screen and (min-width: 360px) {
    @content;
  }
}
@mixin small_screens() {
  @media only screen and (max-width: 479px) {
    @content;
  }
}
@mixin min_small_screens() {
  @media only screen and (min-width: 480px) {
    @content;
  }
}
@mixin med_small_screens() {
  @media only screen and (max-width: 639px) {
    @content;
  }
}
@mixin min_med_small_screens() {
  @media only screen and (min-width: 640px) {
    @content;
  }
}
@mixin medium_screens() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin min_medium_screens() {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin medium_large_screens() {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}
@mixin min_medium_large_screens() {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}
@mixin large_screens() {
  @media only screen and (max-width: 1199px) {
    @content;
  }
}
@mixin min_large_screens() {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}
@mixin extra_large_screens() {
  @media only screen and (max-width: 1359px) {
    @content;
  }
}
@mixin min_extra_large_screens() {
  @media only screen and (min-width: 1360px) {
    @content;
  }
}

/* === MIXINS ===
---------------------------------------------------- */

@mixin flex_row() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin center_absolute() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* === CSS ===
---------------------------------------------------- */
body {
  @include primary_font();
}

.header {
  background-color: transparent;
  color: $black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  top: 50px;
  width: 100%;
}

.header.sticky {
  position: fixed;
  top: 0;
  background-color: white;
}

.main_nav {
  background-color: #333;
}

.primary_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_item {
  position: relative;
}

.nav_item a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.dropdown_menu li {
  margin: 0;
}

.dropdown_menu li.nav_item {
  width: 100%;
}

.sub_nav_item a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
}

.dropdown:hover > .dropdown_menu {
  opacity: 1;
  visibility: visible;
}

.hero {
  background-image: url('/images/roselyn_tirado_unsplash_min.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_text {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  max-width: 800px;
  text-align: center;

  h2 {
    @include secondary_font();
    margin-bottom: 20px;
  }
}

.content {
  height: 100vh;
}
